<!--
AUTHORS

Trish Beeksma
Alex Mello
Matthew Siebold
-->

<!DOCTYPE>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <!--title-->
    <title>Food Database</title>
    <!--html-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/frontDesign.css') }}">
    <!--css-->
    <link rel="stylesheet" href="venv/static/css/frontDesign.css">
    <!--jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--datatables cdn-->
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <!--datatables css cdn-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
</head>

<body>
<div class="topBar">
    <h2>Food Database</h2>


    <span class="selection">
        <a class="selectionButton inline" href="{{ url_for('home') }}"><h3 class="links">Home</h3></a>
        <a class="selectionButton inline" href="{{ url_for('combinations') }}"><h3 class="links">Combinations</h3></a>
        <a class="selectionButton inline" href="{{ url_for('comboItems') }}"><h3 class="links">Combination Items</h3></a>
        <a class="selectionButton inline" href="{{ url_for('restaurants') }}"><h3 class="links">Restaurants</h3></a>
        <a class="selectionButton inline" href="{{ url_for('edit') }}"><h3 class="links">Edit</h3></a>
    </span>
</div>


<div id="main">
    <table class="display nowrap" id="queryData">
        <thead>
        <tr>
            <th>Restaurant</th>
            <th>Address</th>
            <th>Rating</th>
            <th>Website</th>
            <th>Application</th>
            <th>Monday Hours</th>
            <th>Tuesday Hours</th>
            <th>Wednesday Hours</th>
            <th>Thursday Hours</th>
            <th>Friday Hours</th>
            <th>Saturday Hours</th>
            <th>Sunday Hours</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td> {{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
	$(document).ready(function() {
    	$('#queryData').DataTable( {
            "lengthMenu": [ 20, 50, 100 ],
			"pageLength": 20,
    	} );
	} );

</script>

</body>
</html>